# vscode
.vscode/
.history/
.vs/
*.code-workspace

# Vivado
.Xil/
*.log
*.str
*.jou
project/
project*

# Vitis：忽略 IDE 产生的所有内容，仅保留 daq/src/ 源码
vitis/*
!vitis/daq/
vitis/daq/*
!vitis/daq/src/
vitis/daq/src/Xilinx.spec
vitis/daq/src/README.txt
vitis/daq/src/lscript.ld

# Other
~*
